@use 'src/styles/vars';

.key-card {
    font-weight: 500;
    color: #fff;
    background-color: vars.$secondary-color;
    border: none;
    border-radius: 27px;
    padding: 0.375rem 0.75rem;
    margin: 0.5rem;

    &:hover {
        background-color: lighten(vars.$secondary-color, 10%);
        border-color: lighten(vars.$secondary-color, 10%);
    }

    &:focus {
        box-shadow: vars.$secondary-color;
    }

    &:active {
        background-color: darken(vars.$secondary-color, 10%);
        border-color: darken(vars.$secondary-color, 10%);
    }
}

.star-card {
    font-weight: 500;
    color: #fff;
    background-color: vars.$secondary-color;
    border: none;
    border-radius: 27px;
    padding: 0.375rem 0.75rem;
    position: relative;
    overflow: hidden;
    margin: 0.5rem;

    &:hover {
        background-color: lighten(vars.$secondary-color, 10%);
        border-color: lighten(vars.$secondary-color, 10%);
    }

    &:focus {
        box-shadow: vars.$secondary-color;
    }

    &:active {
        background-color: darken(vars.$secondary-color, 10%);
        border-color: darken(vars.$secondary-color, 10%);
    }

}

@keyframes shine {
    0% {left: -100px};
    60% {left: 100%};
    100% {left: 100%};
}

.star-card:before {
    /* Animation */
    animation: shine 2s infinite linear; 
    background-image: linear-gradient(
        120deg,
        rgba(255,255,255, 0) 30%,
        rgba(255,255,255, .8),
        rgba(255,255,255, 0) 70%
    );
    content: '';
    position: absolute;
    width: 100px;
    height: 100%;
    top: 0;
    left: -100px;
}

.low-card {
    font-weight: 500;
    color: vars.$primary-color;
    background-color: #fff;
    border: 1px solid;
    border-color: vars.$primary-color;;
    border-radius: 27px;
    padding: 0.375rem 0.75rem;
    margin: 0.5rem;

    &:hover {
        background-color: #fff;
        color: lighten(vars.$primary-color, 10%);
        border-color: lighten(vars.$primary-color, 10%);
    }

    &:focus {
        box-shadow: vars.$primary-color;
    }

    &:active {
        background-color: #fff;
        color: darken(vars.$primary-color, 10%);
        border-color: darken(vars.$primary-color, 10%);
    }

}