@use 'src/styles/vars';

.header {
    background-color: vars.$primary-color !important;
    color: #fff !important;
    padding: 1rem;
    display: flex !important;
    padding-top: 2rem;
    padding-bottom: 2rem;
    justify-content: space-between !important;

    &-logo {
        width: 30%;
    }

    &-title {
        font-weight: bold;
        color: #fff !important;
        font-size: 1.5rem !important;
        padding-left: 3rem !important;

        &-link {
            font-weight: bold;
            font-size: 1rem;
            color: #000;
        }
    }

    &-nav {
      display: flex;
      
      &-item {
        margin-right: 1.5rem !important;
        font-weight: 500;
        }
    }

    &-profile {
        color: #fff;
        position: fixed;
        right: 20px;
        top: 35px;
        font-size: 1.3rem;
    }


    &-dropdown {
        color: #efefef;
        font-size: 1rem;
        position: fixed;
        right: 5px;
        top: 8px;
    }

}

.header-nav-login {
    cursor: pointer;
    justify-self: right !important;
    text-decoration: none !important;
    color: vars.$primary-color !important;
    font-size: 1.1rem;
    font-weight: 800 !important;
    transition: all 0.2s ease-in-out;
    border: none !important;
}

.header-nav-login.btn-light:hover {
    background-color: #fff4ec; 
    color: #f07a1a;            
}

.header-nav-login.btn-light:active {
    background-color: #ffe0cc; /* deeper tint when clicked */
    color: #d96a15;            /* darker orange */
}

@media (min-width: 768px) { /* This targets larger screens */
    .header {

    &-nav {
        display: flex;
        padding-right: 3rem !important;
        gap: 2rem;
    }    

    &-title {
        font-weight: bold;
        font-size: 1.3rem;
    }

    &-profile {
        display: none;
    }
    }
}

@media (max-width: 767px) { /* This targets mobile screens */
    .header {
        display: block;
        align-items: center;

        &-nav-item {
            display: none !important;
        }

        &-title {
            padding: 0 !important;
        }
    }

    .header-nav {
        margin: 0 !important;
        padding: 0 !important;

        &-login {
            cursor: pointer;
            justify-self: right !important;
            text-decoration: none !important;
            color: vars.$primary-color !important;
            font-size: 1.1rem;
            font-weight: 800 !important;
        }

    }    
}