.header {
    background-color: #efefef;

    &-title {
        font-weight: bold;
        font-size: 1rem;

        &-link {
            font-weight: bold;
            font-size: 1rem;
            color: #000;
        }
    }

    &-icon {
        color: #000;
    }

    &-profile {
        color: #000;
        position: fixed;
        right: 20px;
        top: 15px;
        font-size: 1.3rem;  
    }


    &-dropdown {
        color: #efefef;
        font-size: 0.3rem;
    }

}


@media (min-width: 768px) { /* This targets below the md breakpoint */
    .header-profile {
        display: none;
    }
}