.header {
    background-color: #efefef;

    &-title {
        font-weight: bold;
        font-size: 1rem;

        &-link {
            font-weight: bold;
            font-size: 1rem;
            color: #000;
        }
    }

    &-icon {
        color: #000;
    }

}