@use 'src/styles/vars';

.questionBtn {
    position: fixed;
    top: 60px;
    right: 10px;
    background-color: white;
    color: black;
    font-weight: 500;
    border: 1px solid;
    border-color: black;
    border-radius: 27px;
    padding: 0.3rem 0.8rem;
    margin: 0.5rem;
}

.key-card {
    font-weight: 500;
    color: #fff;
    background-color: vars.$secondary-color;
    border: none;
    border-radius: 27px;
    padding: 0.375rem 0.75rem;
    margin: 0.5rem;

    &:hover {
        background-color: lighten(vars.$secondary-color, 10%);
        border-color: lighten(vars.$secondary-color, 10%);
    }

    &:focus {
        box-shadow: vars.$secondary-color;
    }

    &:active {
        background-color: darken(vars.$secondary-color, 10%);
        border-color: darken(vars.$secondary-color, 10%);
    }
}

.low-card {
    font-weight: 500;
    color: vars.$primary-color;
    background-color: #fff;
    border: 1px solid;
    border-color: vars.$primary-color;;
    border-radius: 27px;
    padding: 0.375rem 0.75rem;
    margin: 0.5rem;

    &:hover {
        background-color: #fff;
        color: lighten(vars.$primary-color, 10%);
        border-color: lighten(vars.$primary-color, 10%);
    }

    &:focus {
        box-shadow: vars.$primary-color;
    }

    &:active {
        background-color: #fff;
        color: darken(vars.$primary-color, 10%);
        border-color: darken(vars.$primary-color, 10%);
    }

}