@use 'src/styles/vars';

.requests {
    padding-top: 8rem !important;

    &-chat {
        cursor: pointer;
    }

    &-table {
        background-color: #f1f1f1 !important;

        &-unread {
            background-color: #ffffff !important;
        }
    }
    
}


