@use 'src/styles/vars';

.user {
    padding-top: 7rem !important;

    &-title {
        font-size: 1rem;
    }

    &-subtitle {
        font-size: 0.8rem;
    }
}

.errors {
    color: red;
    display: flex;
}