@use 'src/styles/vars';

.swap-card-square {
    width: 2rem;
    height: 3rem !important;
    margin: 0.2rem;
    color: #333;
    background-color: white;
    border: 1px solid;
    border-radius: 5px;
    border-color: #b1b1b1;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1) !important;
    font-weight: 500;

    &-selected {
        width: 2rem;
        height: 3rem !important;
        margin: 0.2rem;
        background-color: white;
        border: 2px solid;
        border-radius: 5px;
        border-color: vars.$primary-color;
        box-shadow: 0 2px 4px rgba(0,0,0,0.1) !important;
    }

    &:hover {
        background-color: lighten(vars.$primary-color, 40%);
    }
}