.account-title {
    text-align: left;
}

.account-item {
    text-align: left;
    padding-left: 2rem !important;
    padding-bottom: 1rem !important;
}

.disclaimer {
    font-size: 0.8rem;
    font-style: italic;
    margin-top: 10rem;
}