@use 'src/styles/vars';

.cards-list {
    display: flex;
    justify-content: center;

}

.opportunity-card {
    border-color: vars.$primary-color !important;
    border-width: medium !important;
    display: flex;
    justify-content: center;
    align-items: center;   
}

.opportunity-title {
    font-size: 1.3rem !important;
    padding: 1rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 100%;
}

.opportunity-explorer-badge {
    position: absolute;
    right: 40px;
    margin: 0;
}

.opportunity-explorer-badge .badge {
    background-color: rgb(176, 0, 176) !important;
}

.opportunity-text {
    height: 150px !important;
    overflow-y: auto;

    &-empty {
        overflow-y: auto;    
    }
}

.swap-title {
    font-weight: bold;
    font-style: italic;        
    color: vars.$primary-color !important;
    font-size: 1.3rem !important;
    text-align: left;
    margin-bottom: 2rem;
}

.swap-tag {
    font-weight: 500;
    color: #fff;
    background-color: vars.$secondary-color;
    border: none;
    padding: 0.375rem 0.75rem;
    margin: 0.5rem;
    cursor: default !important; 
}

.swap-cardName {
    color: vars.$primary-color; 
    font-size: 1rem !important;
    font-weight: bold;
}

.swap-disclaimer {
    font-size: 0.8rem !important;
    font-style: italic;
}

.contact-button {
    font-weight: 500;
    color: #fff;
    background-color: vars.$primary-color; 
    border: none;
    border-radius: 27px;
    padding: 0.375rem 0.75rem;
    margin-bottom: 1rem !important;
    width: fit-content;
    text-align: center;

    &:hover {
        background-color: lighten(vars.$primary-color, 10%);
        border-color: lighten(vars.$primary-color, 10%);
    }

    &:focus {
        box-shadow: vars.$primary-color;
    }

    &:active {
        background-color: darken(vars.$primary-color, 10%);
        border-color: darken(vars.$primary-color, 10%);
    }
}

.lock-icon {
    height: 100px;
    color: vars.$primary-color;
    padding-top: 1rem;
}