
.App {
  text-align: center;
  display: flex;
  flex-direction: column;  /* Stack the content vertically */
  height: 100vh;   
  /* margin-bottom: 4rem; Added to see on dev tool TO BE REMOVED */
}

@media (min-width: 1200px) {
  body {
    font-size: 18px !important;
    /* padding: 40px; */
  }
}



