@use 'src/styles/vars';

@import '~bootstrap/scss/bootstrap';

.App {
    text-align: center;
    display: flex;
    flex-direction: column; 
    height: 100vh;   
    font-size: 16px;

}

.loading {
    padding-top: 7rem !important;
    display: flex;
    justify-content: center;
}

.spinner {
    color: vars.$primary-color;
}

@media (min-width: 1200px) {
    body {
      font-size: 18px !important;
    }
}
  