/* The following line can be included in a src/App.scss */
@use 'src/styles/vars';

@import '~bootstrap/scss/bootstrap';


.loading {
    padding-top: 7rem !important;
    display: flex;
    justify-content: center;
}

.spinner {
    color: vars.$primary-color;
        
}