@use 'src/styles/vars';

.chat-container {
  padding-top: 3rem !important;

}

.spinner {
  color: vars.$primary-color;
}

.chat {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100vh;
  max-width: 600px;
  margin: 0 auto;
  background-color: #f4f7fc;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgb(0 0 0 / 10%);
  overflow: scroll;
}

  .message-list {
    // flex-grow: 1;
    // overflow-y: auto !important;
    padding: 20px;
    display: flex !important;
    flex-direction: column;
    // gap: 10px;
    // align-items: flex-start !important;
  }

  .message-bubble {
    max-width: 70% !important;
    padding: 10px 15px;
    border-radius: 20px;
    position: relative;
    // word-wrap: break-word; /* Ensure long words break and wrap to the next line */
    margin-bottom: 20px; /* Optional: Add space between message bubbles */
    // word-break: break-word; /* Break words that don't fit */
  }

  .sent {
    background-color: vars.$primary-color !important;
    color: white;
    align-self: flex-end;
  }

  .received {
    background-color: #e5e5e5;
    color: #333;
    align-self: flex-start;
  }

  .message-bubble {
    text-align: left;
  }

  .message-timestamp {
    font-size: 0.8em;
    color: #888;
    position: absolute;
    bottom: -20px;
    right: 10px;
  }

  .message-input-container {
    padding: 10px;
    border-top: 1px solid #ddd;
  }

  .message-input {
    border-radius: 25px;
    border: 1px solid #ddd;
    font-size: 1em;
  }

  .send-button {
    background-color: vars.$primary-color !important;
    border-color: vars.$primary-color !important;
    color: white;
    font-size: 1em;
    border-radius: 25px;
  }

  .send-button:hover {
    background-color: #0056b3;
  }

  .w-100 {
    width: 100%;
  }

  .send-button .mobile-symbol {
    display: none;
  }
  
  /* Hide the "Send" text on mobile and show the symbol */
  @media (max-width: 768px) {
    .send-button .send-text {
      display: none;
    }
  
    .send-button .mobile-symbol {
      display: inline-block; /* Show the '>' symbol on mobile */
    }
  }