@use 'src/styles/vars';

.register {
    padding-top: 8rem !important;

    &-title {
        font-size: 1rem;
    }

    &-disclaimer {
        font-size: 0.8rem;
        font-style: italic;
        margin-top: 1rem;
    }
}

.link {
    color: vars.$primary-color;
    text-decoration: none; 
}

.errors {
    color: red;
    display: flex;
}


// Clerk sign up
.signup-container {
    display: flex;
    justify-content: center;
}