@use 'src/styles/vars';

.opportunities {
    padding-top: 7rem !important;
}

.spinner {
    color: vars.$primary-color;
}

@media (min-width: 768px) { /* This targets medium screens */
    .opportunities {
        width: 50% !important; 
    }
}
