@use 'src/styles/vars';

.page-container {
    padding-top: var(--header-h) !important;
    flex: 1;
    margin-bottom: 1rem;
    margin-top: 2rem;
}

.page-title {
    font-weight: 500;
    font-size: 1.3rem !important;
    text-align: left;
    margin-bottom: 2rem;
}

.spinner {
    color: vars.$primary-color;
}

@media (min-width: 768px) { /* This targets medium screens */
    .page-container {
        padding-top: var(--header-h) !important; 
        width: 50% !important; 
    }
}

@media (max-width: 767px) { /* This targets mobile screens */
    .page-container {
      padding-bottom: 4rem !important;
    } 
}