@use 'src/styles/vars';

.page-container {
    padding-top: 7rem !important;
}

.page-title {
    font-weight: bold;
    font-style: italic;        
    color: vars.$primary-color !important;
    font-size: 1.3rem !important;
    text-align: left;
    margin-bottom: 2rem;
}

.spinner {
    color: vars.$primary-color;
}

@media (min-width: 768px) { /* This targets medium screens */
    .page-container {
        width: 50% !important; 
    }
}
